# About me

This is my **about** page written in *markdown*.

## Skills
- Svelte
- JavaScript
- TypeScript

## Experience
My previous work experience includes various projects in web development and software engineering.

## Contact
Feel free to reach out to me at [your-email@example.com](mailto:your-email@example.com).

## Social Media
- [GitHub](https://github.com/)
- [YouTube](https://youtube.com/@)
