<script>
	export let frontmatter = {};


</script>

--- 
title: My Awesome Article 
author: Fancy Dev 
--- 

<h1>{frontmatter.title}</h1>
<br />
You can also insert custom components inside the .svx file:

<style>
	h1 {
		color: #333;
	}
</style>